// Cores

$strong-cyan: hsl(172, 67%, 45%);
$very-dark-cyan: hsl(183, 100%, 15%);
$dark-grayish-cyan-1: hsl(186, 14%, 43%);
$dark-grayish-cyan-2: hsl(184, 14%, 56%);
$light-grayish-cyan-1: hsl(185, 41%, 84%);
$light-grayish-cyan-2: hsl(189, 41%, 97%);
$white: hsl(0, 0%, 100%);
$btn-hover: rgb(159,232,223);

.container {
    width:100%;
    display:flex;
    align-items:center;
    justify-content:center;
    flex-direction:column;
}

.logo {
    margin:5rem 0 3.5rem 0;
}

.card {
    background:$white;
    width:100%;
    border-radius:2.5rem;

    display:flex;
    align-items:center;
    justify-content:center;
    flex-direction:column;
    gap:3rem;

    padding:3rem;
}

.input {
    width:100%;
    display:flex;
    flex-direction:column;
    gap:3rem;

    .label-wrapper {
        display:flex;
        align-items:center;
        justify-content:space-between;
        padding: 0.6rem 0;

        label {
            color:$dark-grayish-cyan-1;
            font-size:1.5rem;
            font-weight:700;
        }

        .erro-msg {
            color:indianred;
            font-weight:700;
            font-size:1.5rem;
            opacity:0;
        }

        .exibe-erro-msg {
            transition: opacity 1s ease-in-out;
            opacity:1;
        }
    }

    .inp-text {
        background:$light-grayish-cyan-2;
        border:none;
        width:100%;
        border-radius:0.5rem;
        color:$very-dark-cyan;
        font-family:'Space Mono', monospace;
        font-size:2.4rem;
        font-weight:700;
        text-align:right;
        padding:0.5rem 2.4rem;

        &:focus {
            outline: none;
            border:2px solid $strong-cyan;
        }
    }

    .inp-wrapper {
        position:relative;

        img {
            position:absolute;
            left:2rem;
            top:1.5rem;
        }
    }

    .btn-wrapper {
        display:flex;
        align-items:center;
        justify-content:center;
        flex-wrap:wrap;
        gap:1.5rem;
        padding:1.2rem 0;

        .btn {
            width:46%;
            max-width:145px;
            text-align:center;
            background:$very-dark-cyan;
            color:$white;
            font-family:'Space Mono', monospace;
            font-size:2.4rem;
            font-weight:700;
            border-radius:.5rem;
            padding:.6rem 0;

            &:hover {
                background:$btn-hover;
            }
        }

        .btn-active {
            background:$strong-cyan;
            color:$very-dark-cyan;
        }

        .inp-text {
            width:46%;
            max-width:145px;
            text-align:center;
            background:$light-grayish-cyan-2;
        }
    }
}

.output {
    background: $very-dark-cyan;
    width:100%;
    border-radius:1.5rem;
    padding:3rem;

    .line-wrapper {
        .line-output{
            display:flex;
            align-items:center;
            justify-content:space-between;  
            margin:1.4rem 0 2.4rem 0;
        }

        .title {
            color:$white;
            font-weight:700;
            font-size:1.6rem;
        }

        .desc {
            color:$dark-grayish-cyan-2;
            font-weight:700;
            font-size:1.3rem;
        }

        .value {
            color:$strong-cyan;
            font-weight:700;
            font-size:3rem;
        }
    }

    .btn {
        width:100%;
        background:$strong-cyan;
        text-transform:uppercase;
        text-align:center;
        color:$very-dark-cyan;
        font-size: 2rem;
        font-weight:700;
        border-radius:.5rem;
        border:none;
        padding:1rem 0;
        margin-top:3.2rem;
        transition:all 0.3s ease;

        &:hover {
            background:$btn-hover;
        }
    }

}

// @media (min-width:685px) {
    
//     .container {
//         max-width:950px;
//     }
    
//     .card {
//         flex-direction:row;
//     }

//     .input {
//         max-width:475px;
//     }

//     .output {
//         max-width:375px;

//         .line-wrapper {
//             margin: 1.4rem 0 5rem 0;
//         }
        
//         .btn {
//             margin-top:8.1rem;
//         }
//     }

// }